.navbar {
  border: 0;
  border-radius: 0px;
  margin-bottom: 0;
  min-height: 40px;
}
@media (min-width: 768px) {
  .navbar {
    min-height: 80px;
  }
}
.badge {
  color: #bcc1df;
}
.nav-pills li {
  color: #bcc1df;
}
.nav-pills li a {
  color: #bcc1df;
}
.redbg {
  background-color: #b1291b;
}
.greenbg {
  background-color: #536b37;
}
.amberbg {
  background-color: #ba7704;
}
.red {
  color: #b1291b;
}
.green {
  color: #536b37;
}
.amber {
  color: #ba7704;
}
* {
  outline: none;
}
@media (min-width: 768px) {
  .eqh {
    margin-bottom: -99999px !important;
    padding-bottom: 99999px !important;
  }
  .eqh-wrap {
    overflow: hidden !important;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1560px;
  }
}
@media (min-width: 1920px) {
  .container {
    width: 1880px;
  }
}
.fullwidth {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .fullwidth {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.centered {
  display: table;
  margin: 0 auto;
  text-align: center;
}
.vcentered {
  display: table-cell;
  vertical-align: middle;
}
.view {
  margin-left: -10px;
  margin-right: -10px;
  margin-left: auto;
  margin-right: auto;
}
.view .sidebar {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .view .sidebar {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .view .sidebar {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .view .sidebar {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .view .sidebar {
    float: left;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .view .sidebar {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .view .sidebar {
    float: left;
    width: 16.66666667%;
  }
}
@media (min-width: 1600px) {
  .view .sidebar {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1600px) and (min-width: 1600px) {
  .view .sidebar {
    float: left;
    width: 16.66666667%;
  }
}
@media (min-width: 1920px) {
  .view .sidebar {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1920px) and (min-width: 1920px) {
  .view .sidebar {
    float: left;
    width: 16.66666667%;
  }
}
.view .content {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .view .content {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .view .content {
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 992px) {
  .view .content {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .view .content {
    float: left;
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .view .content {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .view .content {
    float: left;
    width: 83.33333333%;
  }
}
@media (min-width: 1600px) {
  .view .content {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1600px) and (min-width: 1600px) {
  .view .content {
    float: left;
    width: 83.33333333%;
  }
}
@media (min-width: 1920px) {
  .view .content {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1920px) and (min-width: 1920px) {
  .view .content {
    float: left;
    width: 83.33333333%;
  }
}
div.alert-login:empty {
  display: none;
}
a.glyphicon {
  color: #23252b;
}
input[type="file"] {
  visibility: hidden;
  width: 0;
  height: 0;
}
.inset {
  padding: 20px 10px 20px 10px;
}
.btn-form {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.file-preview {
  border: solid 1px #777777;
  box-shadow: 0 0 10px #777777;
}
.validator,
.shownotempty {
  display: none;
}
.jcrop-holder {
  margin-left: auto;
  margin-right: auto;
}
img.border {
  border: solid 1px white;
}
.icon32 {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: left top;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon24 {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-position: left top;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon16 {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-position: left top;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon_comments {
  background-image: url('../img/iqon__comments32.png');
}
.icon_watch {
  background-image: url('../img/iqon_wathching32.png');
}
.icon_views {
  background-image: url('../img/iqon_views32.png');
}
.current-img img {
  opacity: 1 !important;
  border-color: #fff !important;
}
.collapsible-xs.in {
  display: block !important;
}
@media (min-width: 768px) {
  .collapsible-xs.collapse {
    display: block !important;
  }
}
.clearfix-xs {
  clear: both;
}
@media (min-width: 768px) {
  .clearfix-xs {
    clear: none;
  }
}
/**
 * iOS 6 style switch checkboxes
 * by Lea Verou http://lea.verou.me
 */
:root input[type="checkbox"].ios-switch {
  /* :root here acting as a filter for older browsers */
  position: absolute;
  opacity: 0;
}
:root input[type="checkbox"].ios-switch + div {
  display: inline-block;
  vertical-align: middle;
  width: 3em;
  height: 1em;
  border-radius: 999px;
  margin: 0 .5em;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent), linear-gradient(rgba(0, 0, 0, 0.1), transparent);
  background-size: 200% 100%;
  background-position: 100% 0;
  background-origin: border-box;
  background-clip: border-box;
  overflow: hidden;
  transition-duration: .4s;
  transition-property: padding, width, background-position, text-indent;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0 0.45em 0 0.1em rgba(0, 0, 0, 0.05) inset;
  font-size: 120%;
  /* change this and see how they adjust! */
}
:root input[type="checkbox"].ios-switch:checked + div {
  padding-left: 2em;
  width: 3em;
  background-position: 0 0;
}
:root input[type="checkbox"].ios-switch + div:before {
  content: ' ';
  float: left;
  width: 1.65em;
  height: 1.65em;
  margin: -0.1em;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: inherit;
  background: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  box-shadow: 0 0.1em 0.1em 0.1em rgba(255, 255, 255, 0.8) inset, 0 0 0.5em rgba(0, 0, 0, 0.3);
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-indent: -2.5em;
}
:root input[type="checkbox"].ios-switch:active + div:before {
  background-color: #eee;
}
:root input[type="checkbox"].ios-switch:focus + div {
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0 0.45em 0 0.1em rgba(0, 0, 0, 0.05) inset, 0 0 0.4em 1px rgba(200, 0, 0, 0.1);
}
:root input[type="checkbox"].ios-switch + div:before,
:root input[type="checkbox"].ios-switch + div:after {
  font: bold 60%/1.9 sans-serif;
  text-transform: uppercase;
}
:root input[type="checkbox"].ios-switch + div:after {
  content: ' ';
  float: left;
  text-indent: .5em;
  color: rgba(0, 0, 0, 0.45);
  text-shadow: none;
}
html {
  min-height: 100%;
  background: #757575;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1NzU3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2Q4ZDBkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VkZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2Q4ZDBkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MjcyNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #757575 0%, #d8d0d0 25%, #ede8e8 50%, #d8d0d0 75%, #727272 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #757575), color-stop(25%, #d8d0d0), color-stop(50%, #ede8e8), color-stop(75%, #d8d0d0), color-stop(100%, #727272));
  background: -webkit-linear-gradient(top, #757575 0%, #d8d0d0 25%, #ede8e8 50%, #d8d0d0 75%, #727272 100%);
  background: -o-linear-gradient(top, #757575 0%, #d8d0d0 25%, #ede8e8 50%, #d8d0d0 75%, #727272 100%);
  background: -ms-linear-gradient(top, #757575 0%, #d8d0d0 25%, #ede8e8 50%, #d8d0d0 75%, #727272 100%);
  background: linear-gradient(to bottom, #757575 0%, #d8d0d0 25%, #ede8e8 50%, #d8d0d0 75%, #727272 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#727272', GradientType=0);
  /*
	background: @body-gradient-start;
	background: -moz-linear-gradient(top, @body-gradient-start 0%, @body-gradient-mid 50%, @body-gradient-end 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@body-gradient-start), color-stop(50%,@body-gradient-mid), color-stop(100%,@body-gradient-end));
	background: -webkit-linear-gradient(top,  @body-gradient-start 0%,@body-gradient-mid 50%,@body-gradient-end 100%);
	background: -o-linear-gradient(top, @body-gradient-start 0%,@body-gradient-mid 50%,@body-gradient-end 100%);
	background: -ms-linear-gradient(top, @body-gradient-start 0%,@body-gradient-mid 50%,@body-gradient-end 100%);
	background: linear-gradient(to bottom, @body-gradient-start 0%,@body-gradient-mid 50%,@body-gradient-end 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@body-gradient-start', endColorstr='@body-gradient-end',GradientType=0 );
	*/
}
body {
  background-color: inherit;
}
.site_title {
  padding: 10px 0px 6px 10px;
}
.site_title p {
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 120%;
  text-shadow: 1px 1px 2px black, 0 0 1em #cc0000;
}
@media (min-width: 768px) {
  .site_title p {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .site_title p {
    font-size: 26px;
  }
}
.nav-xs {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
}
.sidebar {
  background-color: #664840;
  color: #bcc1df;
}
.sidebar-area {
  background-color: #664840;
  width: 100%;
  padding-right: 10px;
}
.loginForm {
  margin-bottom: 20px;
  padding-left: 10px;
}
.alert-login {
  margin-left: 10px;
}
.userblock {
  color: #d38b01;
  margin-bottom: 8px;
}
.userblock img {
  border: solid 1px white;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}
.userblock .name {
  color: #bcc1df;
  height: 42px;
  overflow: hidden;
  font-size: 16px;
  line-height: 19px;
}
.userblock a {
  font-size: 12px;
}
.mainmenu {
  margin-left: -6px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 100%;
  text-shadow: 1px 1px 2px black, 0 0 1em #cc0000;
}
.mainmenu .nav-pills li a {
  color: white;
}
.sideblock {
  padding-left: 10px;
  padding-bottom: 10px;
}
.sideblock .nav-pills li {
  border-bottom: 1px solid #bcc1df;
}
.sideblock .nav-pills li a {
  padding-left: 0;
  padding-right: 0;
}
.sideblock .icon {
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-top: -4px;
  background-position: left top;
  background-repeat: no-repeat;
  float: left;
}
.sideblock img {
  border: solid 1px white;
  margin-right: 10px;
  float: left;
}
.sideblock .title {
  float: left;
}
.sideblock .title,
.sideblock .num {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
.sideblock .header {
  height: 30px;
  margin-left: -30px;
  padding: 4px 10px 4px 10px;
}
.sideblock .more {
  font-size: 12px;
  padding-top: 6px;
  text-align: center;
}
.sideblock .more a {
  color: #bcc1df;
}
.messages_block .icon {
  background-image: url('../img/icon_messages.png');
}
.messages_block .header,
.messages_block .badge {
  background-color: #b1291b;
}
.auctions_block .icon {
  background-image: url('../img/icon_collections.png');
}
.auctions_block .header {
  background-color: #ba7704;
}
.collections_block .icon {
  background-image: url('../img/icon_arts.png');
}
.collections_block .header {
  background-color: #536b37;
}
.arts_block .icon {
  background-image: url('../img/icon_messages.png');
}
.arts_block .header {
  background-color: #b1291b;
}
.content,
.container {
  background-color: #664840;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.view .content {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .view .content {
    padding-right: 10px;
  }
}
.content-area {
  background-color: #fff;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.content-block {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.content-block .loginForm {
  max-width: 400px;
}
.navbar-form {
  margin-top: 0;
  margin-bottom: 0;
}
#globalsearch {
  padding: 22px 0;
}
@media (min-width: 768px) {
  #globalsearch {
    max-width: 340px;
  }
}
.form-block {
  padding-top: 20px;
}
.form-block h2 {
  font-size: 20px;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.form-block .btn-form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-block .form-area {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
.form-block .form-area .row {
  margin-left: 0;
  margin-right: 0;
}
.form-block .form-area .file-preview {
  max-width: 250px;
}
.form-content {
  background-color: #464a55;
  padding-left: 0;
  padding-right: 0;
}
.form-options {
  padding-left: 0;
  padding-right: 0;
}
.form-control-ofs {
  margin-bottom: 15px;
}
.form-menu {
  padding-left: 0;
  padding-right: 0;
  min-height: 400px;
}
.form-menu ul {
  list-style-type: none;
  padding-left: 0px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}
.form-menu ul li {
  padding: 20px 20px 20px 50px;
  cursor: pointer;
}
.form-menu ul li.active,
.form-menu ul li.active:hover {
  background-color: #33333b;
}
.form-menu ul li:hover {
  background-color: #41454f;
}
.form-options-1 {
  background-color: #f2dab4;
}
.form-options-1 input[type="checkbox"].ios-switch + div {
  border: 1px solid #dfa447;
  background-image: linear-gradient(#e7ba73, transparent), linear-gradient(#e7ba73, transparent);
}
.form-options-2 {
  color: #fff;
  background-color: #ba7704;
}
.form-options-2 input[type="checkbox"].ios-switch + div {
  border: 1px solid #563702;
  background-image: linear-gradient(#6f4702, transparent), linear-gradient(#6f4702, transparent);
}
.form-options-3 {
  color: #eee;
  background-color: #536b37;
}
.form-options-3 input[type="checkbox"].ios-switch + div {
  border: 1px solid #1f2814;
  background-image: linear-gradient(#2c381d, transparent), linear-gradient(#2c381d, transparent);
}
.form-options-4 {
  background-color: #868da0;
}
.form-options-4 input[type="checkbox"].ios-switch + div {
  border: 1px solid #545b6c;
  background-image: linear-gradient(#60677a, transparent), linear-gradient(#60677a, transparent);
}
@media (min-width: 992px) {
  .form-content,
  .form-screen {
    min-height: 550px;
  }
  #art-edit-col {
    overflow: auto;
  }
}
#art-edit-col li.active,
#art-edit-col li.active:hover {
  background-color: #885703;
}
#art-edit-col li:hover {
  background-color: #b07104;
}
#art-edit-cat li.active,
#art-edit-cat li.active:hover {
  background-color: #394926;
}
#art-edit-cat li:hover {
  background-color: #4e6434;
}
#art-edit-tech li.active,
#art-edit-tech li.active:hover {
  background-color: #6b7388;
}
#art-edit-tech li:hover {
  background-color: #80889c;
}
.preview_list {
  padding-top: 20px;
  padding-bottom: 20px;
}
.preview_list .header {
  line-height: 25px;
}
.preview_list .header .badge {
  color: #ffffff;
}
.preview_list .header .btn {
  margin-right: 30px;
}
.preview_list h3 {
  line-height: 1.0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 8px;
  text-transform: uppercase;
  font-weight: bold;
  float: none;
}
@media (min-width: 768px) {
  .preview_list h3 {
    float: left;
  }
}
@media (min-width: 768px) {
  .preview_list .col-n-6 {
    display: none;
  }
  .preview_list .col-n-5 {
    display: none;
  }
  .preview_list .col-n-4 {
    display: none;
  }
  .preview_list .col-n-3 {
    display: none;
  }
}
@media (min-width: 992px) {
  .preview_list .col-n-6 {
    display: none;
  }
  .preview_list .col-n-5 {
    display: none;
  }
  .preview_list .col-n-4 {
    display: block;
  }
  .preview_list .col-n-3 {
    display: block;
  }
}
@media (min-width: 1200px) {
  .preview_list .col-n-6 {
    display: block;
  }
  .preview_list .col-n-5 {
    display: block;
  }
  .preview_list .col-n-4 {
    display: block;
  }
  .preview_list .col-n-3 {
    display: block;
  }
}
.preview_list .thumb_item {
  margin-bottom: 10px;
  min-height: 300px;
}
.preview_list .thumbnail {
  border: 0;
  border-radius: 0;
  padding-top: 12px;
  background-color: transparent;
  margin-bottom: 0;
}
.preview_list .thumbnail .thumbimage {
  border: solid 1px #777777;
  transition: box-shadow linear 0.2s;
}
.preview_list .thumbnail .thumbimage img {
  width: 100%;
}
.preview_list .thumbnail .thumbimage .menu-anchor {
  position: absolute;
  top: 8px;
  right: 20px;
  display: none;
  cursor: pointer;
}
.preview_list .thumbnail .thumbimage .menu-anchor a.menu-trigger {
  color: #fff;
}
.preview_list .thumbnail .thumbimage:hover img {
  opacity: 0.8;
}
.preview_list .thumbnail .thumbimage:hover,
.preview_list .thumbnail .thumbimage .selected {
  outline: none;
  border-color: #faa411;
  box-shadow: 0 0 10px #ba7704;
}
.preview_list .thumbnail .thumbimage:hover .menu-anchor {
  display: block;
}
.preview_list .thumbnail .caption {
  padding: 0;
}
.preview_list .thumbnail .caption h4 {
  height: 1.2em;
  margin-top: 6px;
  margin-bottom: 4px;
  overflow: hidden;
  font-size: 14px;
}
.preview_list .thumbnail .caption p {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 0px;
  height: 1.4em;
  overflow: hidden;
}
.preview_list .thumbnail .caption p.text {
  margin-bottom: 8px;
  height: 4em;
  overflow: hidden;
}
.preview_list .thumbnail .caption p.lbl {
  color: #777777;
  height: auto;
  font-weight: normal;
  width: 100%;
  overflow: visible;
}
.preview_list .thumbnail .caption p.lbl span {
  color: #555555;
}
footer {
  height: 60px;
  background-color: #464a55;
  color: #ffffff;
}
footer .sidebar {
  background-color: #464a55;
}
footer .content {
  height: 60px;
  background-color: #464a55;
}
footer p,
footer a {
  font-size: 9px;
  float: left;
  margin: 25px 25px 25px 0px;
}
footer a {
  margin-left: 0px;
}
footer a:link {
  color: #333333;
}
.shaded-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #f6f7fb;
  padding: 20px;
  padding-left: 40px;
  padding-bottom: 10px;
}
.shaded-header .border {
  border: solid 1px grey;
}
.shaded-header a {
  color: black;
}
.user-info img {
  float: left;
  margin-right: 10px;
}
.user-info .name {
  font-size: 1.4em;
  font-weight: bold;
}
.user-menu ul {
  margin-top: 10px;
  float: left;
  padding-left: 0;
  list-style: none;
  font-size: 1.4em;
}
.user-menu ul li {
  display: inline;
  margin-right: 40px;
}
.user-menu ul li.active a {
  color: grey;
}
.user-menu .edit {
  margin-top: 8px;
  float: right;
  width: 32px;
  height: 32px;
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url('../img/iqon_settings32.png');
}
.fmodal {
  background-color: #fff;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1100;
}
.fmodal .glyphicon-remove,
.fmodal .report {
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 1.6em;
  z-index: 1200;
  color: #ffffff;
}
.focused .row {
  margin: 0;
  padding: 0;
}
.fheader {
  height: 60px;
  background-color: #222;
  padding-top: 12px;
  padding-left: 12px;
  border-bottom: 1px solid #222222;
}
.fheader a {
  margin-right: 20px;
}
.fdataitem-cont {
  background-color: #222;
}
.fdataitem-main {
  background-color: #222222;
  height: 100%;
  display: table;
  color: #e6e6e6;
}
.fdataitem-props {
  height: 100%;
  padding: 10px;
  background-color: #eeeeee;
  color: #464a55;
  overflow: auto;
}
.fart h2 {
  font-weight: bold;
}
.fart .lbl {
  color: #747b8d;
  padding: 0;
}
.fart .ditem {
  padding-top: 6px;
  padding-bottom: 6px;
}
.fauc .fheader h3 {
  margin-top: 0;
  color: #bcc1df;
  text-align: center;
}
.auc-el {
  text-align: center;
}
.auc-el span {
  font-size: 1.4em;
}
.auc-settings {
  height: 500px;
  display: none;
  color: #464a55;
  position: fixed;
  bottom: 0px;
  left: 10px;
  right: 10px;
  height: 0;
  background-color: #fff;
  box-shadow: 1px 1px 8px 6px #eee inset;
  z-index: 100;
}
.auc-settings .glyphicon-remove {
  color: #222;
}
.greenbox {
  background-color: #82aa57;
  color: #fff;
  padding: 10px 20px 10px 20px;
  height: 154px;
}
.greenbox .btn {
  color: #fff;
  background-color: #6e914a;
}
.greenbox input[type="text"] {
  background-color: #82aa57;
  color: #fff;
}
.greenbox label {
  margin-top: 5px;
  font-weight: normal;
}
.violetbox {
  background-color: #b9c4e1;
  padding: 5px 20px 20px 20px;
  margin-top: 20px;
}
.selltypeswitch {
  font-size: 13px;
}
.selltypeswitch input[type="checkbox"].ios-switch + div {
  border: 1px solid #4e6734;
  background-image: linear-gradient(#82aa57, transparent), linear-gradient(#82aa57, transparent);
}
label.selltypeswitch {
  margin-top: 8px;
  margin-bottom: 36px;
}
.auctypeselect {
  margin-top: 2px;
}
.comments ol {
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.comments ol li {
  list-style-type: none;
  margin-top: 10px;
}
.comment-entry {
  resize: none;
}
.comment-actions {
  margin-top: 10px;
}
.quip-comment-body {
  background-color: #d7e2f0;
  overflow: hidden;
  padding: 5px;
  height: 80px;
}
.auc_active {
  border-radius: 5px;
  background-color: #fddda6;
}
.msgdivider {
  color: #aaa;
  margin-top: 2em;
  margin-bottom: 2em;
}
@media (min-width: 768px) {
  .msgdivider {
    margin-left: 2em;
    margin-right: 2em;
  }
}
.msglist {
  list-style: none;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.5);
}
@media (min-width: 768px) {
  .msglist {
    margin-left: 2em;
    margin-right: 2em;
  }
}
.msglist li {
  border: 1px solid #ddd;
  border-top: none;
  position: relative;
}
.msglist li.unread {
  font-weight: bold;
}
.msglist li.top {
  border-top: 1px solid #ddd;
}
.msglist li.end {
  border-top: none;
}
.msglist li:hover a.del {
  display: block;
}
.msglist li:hover a.del a.hdr div {
  background-color: #eee;
}
.msglist a {
  color: #000;
  text-decoration: none;
}
.msglist a.del {
  position: absolute;
  right: 8px;
  top: 12px;
  display: none;
}
.msglist a.del span {
  font-size: 2em;
  width: 1.1em;
  height: 1.1em;
  line-height: 1.2em;
  padding: 0;
  color: #aaa;
}
.msglist a.del:hover span {
  color: #000;
}
.msglist a.perm {
  display: block;
}
.msglist a.hdr div {
  padding: 0.8em;
}
.msglist a.hdr div.tophdr {
  display: inline;
  padding: 0;
}
.msglist img {
  float: left;
}
@media (min-width: 768px) {
  .msglist img {
    float: none;
  }
}
.msglist span {
  padding: 0 0 0 10px;
  height: 1em;
  line-height: 1em;
  display: inline-block;
  overflow: hidden;
}
.msglist .date {
  color: #888;
  display: block;
}
@media (min-width: 768px) {
  .msglist .date {
    display: inline-block;
    width: 110px;
  }
}
.msglist .name {
  color: #88F;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .msglist .name {
    margin-top: 0;
    width: 250px;
  }
}
.msglist .header {
  display: inline;
}
.msglist .fulltext {
  margin: 1em 2em 1em 2em;
  font-size: 1.3em;
  display: none;
}
.msglist .fulltext ul {
  list-style-type: none;
}
.msglist .fulltext ul li {
  border: none;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 5px;
  margin-top: 10px;
}
.msglist .fulltext ul li p {
  color: #888;
  font-size: 1.4rem;
}
.msglist .reply {
  color: #aaa;
  margin-right: 1em;
}
.msglist .reply span {
  display: inline;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
  padding: 0;
  margin-top: 1em;
}
.msglist .reply:hover {
  color: #000;
}
.msglist textarea {
  width: 100%;
  height: 120px;
  display: none;
  margin-top: 1em;
}
.msglist .send-reply {
  margin-top: 1em;
  display: none;
  float: right;
}
.msglist .header_label {
  float: right;
  line-height: 2em;
  height: 2em;
  padding-right: 10px;
}
@media (min-width: 992px) {
  .msglist .header_label {
    margin-right: 40px;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.closeposition {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  color: #bac3e0;
}
.closeposition:hover {
  color: #555;
  text-decoration: none;
}
.rename {
  margin: 0px 0 18px 20px;
}
.renamebox {
  max-width: 50%;
  border: 0;
  -webkit-box-sizing: border-box;
  outline: 0;
  width: 100%;
  -webkit-user-select: text;
  font-size: 18px;
  color: #555;
  font-weight: 700;
  vertical-align: center;
  height: 30px;
}
.renamebox:hover {
  background: #bac3e0;
}
.form-content h2 {
  font-size: 18px;
  color: #aab1cc;
  margin: 10px 0 24px 20px;
}
.form-content p {
  color: #bac0d6;
  font-size: 14px;
  margin: 0px 0px 5px 0px;
  line-height: 0.8;
}
.form-content ul {
  padding-left: 0;
}
.form-content li {
  list-style-type: none;
  position: relative;
}
.form-content li label {
  color: #bac0d6;
  font-size: 14px;
  line-height: 0.8;
  font-weight: normal;
}
.form-content li label em {
  font-size: 10px;
  color: #858da1;
  font-style: italic;
}
input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 10px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 2px;
  background: #31343d;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none;
  /* no focus outline */
}
input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}
input[type="range"]::-ms-track {
  border: inherit;
  color: transparent;
  /* don't drawn vertical reference line */
  background: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}
input[type="range"]::-ms-tooltip {
  display: none;
}
/* thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 6px;
  background: #bcc3e0;
  box-shadow: 0 0 3px black;
  -webkit-box-shadow: 0 0 3px black;
  -moz-box-shadow: 0 0 3px black;
  -ms-box-shadow: 0 0 3px black;
}
input[type="range"]::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 6px;
}
input[type="range"]::-ms-thumb {
  width: 13px;
  height: 13px;
  border-radius: 6px;
  border: 0;
  background: #bcc3e0;
}
.sssetup-settings-iqon {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  margin-right: 20px;
}
.sssetup-slower {
  margin-left: 80px;
  font-size: 10px;
  color: #858da1;
  font-style: italic;
  float: left;
}
.sssetup-faster {
  font-size: 10px;
  color: #858da1;
  font-style: italic;
  float: right;
}
.sssetup-li {
  padding: 0 15px 0 15px;
}
.sssetup-darker {
  margin: 0px !important;
  background: #31343b;
  padding: 20px 15px 15px 15px;
  border-bottom: solid 1px #858da1;
}
.sssetup-darker .sssetup-slower {
  margin-left: 0;
}
.sssetup-item {
  cursor: pointer;
  border: solid 1px #222222;
}
.sssetup-item .num {
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #555;
  float: left;
}
.sssetup-item .fx-iqon {
  float: right;
}
.sssetup-item .fx-iqon img {
  height: 16px;
  margin: 2px 10px 2px 0;
}
.preview_pic {
  clear: both;
}
.preview_pic img {
  height: 126px;
}
.addwork {
  float: left;
  height: 128px;
  width: auto;
  margin: 1em;
  width: 128px;
  cursor: pointer;
  line-height: 1;
  background: #DADDE3;
  color: #858DA1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.addwork img {
  display: block;
  margin: 40px auto 20px auto;
}
.addwork span {
  font-size: 10px;
}
.sssetup-box-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
}
.sssetup-box-wrapper .iqons-buttion {
  width: 100px;
  height: 29px;
  margin: 18px auto 15px auto;
}
.sssetup-box-wrapper .sssetup-faster {
  margin: 0;
}
.sssetup-box-wrapper .sssetup-slower {
  margin: 0;
}
.sssetup-box-wrapper button {
  margin-bottom: 30px;
}
.btn-gallery {
  font-weight: 500;
  text-transform: uppercase;
}
.form-block-footer {
  height: auto;
  background: white;
  text-align: center;
  margin-bottom: 30px;
}
.form-block-footer .sssetup-box-wrapper {
  height: auto;
  width: 40%;
  margin: 30px auto;
}
.form-block-footer .sssetup-box-wrapper .sssetup-faster {
  margin: 10px 0 0 0 ;
}
.form-block-footer .sssetup-box-wrapper .sssetup-slower {
  margin: 10px 0 0 0;
}
.form-block-footer .sssetup-box-wrapper .btn-gallery {
  font-size: 16px;
  font-style: normal;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}
.pict-fullscreen {
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #515562;
  z-index: 10;
  margin: 0;
  padding: 3em;
  box-shadow: inset 0 0 10em 0 #0d0e0f;
  -webkit-box-shadow: inset 0 0 10em 0 #0d0e0f;
}
.pict-fullscreen p {
  font-size: 12px;
}
.pict-fullscreen em {
  font-size: 10px;
}
.pict-fullscreen .pict-fullscreen-bottom {
  width: 100%;
  margin-top: 30em;
}
.pict-fullscreen .pict-fullscreen-bottom .ssshow-contollers {
  cursor: pointer;
  padding: 0 20px 0 20px;
  display: inline-block;
}
.pict-fullscreen .pict-fullscreen-bottom img {
  margin: 15px;
}
.pict-fullscreen .closeposition {
  color: white;
  margin: 2.5em 2.5em 0 0;
}
.sortable_list,
.addlist {
  list-style-type: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.sortable_list li,
.addlist li {
  margin: 1em;
  float: left;
  width: 128px;
  height: 128px;
}
.sortable_list .selected,
.addlist .selected {
  border-color: #e14838;
  box-shadow: 0 0 15px 10px #e14838;
}
.col-select {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
}
.col-select li {
  cursor: pointer;
}
.col-select .active {
  border: 1px solid #faa411;
}
#sshow_select_img {
  height: 100%;
  overflow: auto;
  padding-bottom: 64px;
}
#sshow_select_img li {
  list-style-type: none;
  margin: 1em;
  margin-bottom: 4em;
  float: left;
  font-size: 14px;
  width: 128px;
  height: 128px;
}
#sshow_select_img li img {
  height: 126px;
}
#sshow_select_img li .preview_title {
  max-height: 3em;
  overflow: hidden;
}
#trash {
  position: absolute;
  background-color: #ba7704;
  color: #fff;
  padding: 8px;
  border-radius: 9px;
  opacity: 0.8;
}
.title1 {
  position: absolute;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 120%;
  text-decoration: none;
  text-shadow: 1px 1px 2px #000000, 0 0 1em #cc0000;
  padding-top: 6px;
  padding-left: 6px;
}
.payment_item {
  width: 100px;
  margin: 20px 0 10px 23px;
  text-align: center;
}
.payment_item {
  width: 100px;
  margin: 20px 0 10px 23px;
  text-align: center;
  float: left;
}
.payment_item input {
  float: left;
  margin-top: 19px;
  margin-left: 0;
}
.payment_item .payment_img {
  border-radius: 5px;
  height: 47px;
  width: 70px;
  margin-left: 12px;
}
