@grid-gutter-width: 20px;

.navbar
{
	border: 0;
	border-radius: 0px;
	margin-bottom: 0;
	min-height: 40px;
	@media(min-width: @screen-tablet) 
	{
		min-height: 80px;
	}	
}

.badge
{
	color: @view-text-color;
}

.nav-pills
{
   li
   {
        color: @view-text-color;
		a
		{
           color: @view-text-color;
		}
   }
}

// Generate the large columns
.make-xl-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: @screen-xl-desktop) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}

// Generate the large column offsets
.make-xl-column-offset(@columns) {
  @media (min-width: @screen-xl-desktop) {
    margin-left: percentage((@columns / @grid-columns));
  }
}
.make-xl-column-push(@columns) {
  @media (min-width: @screen-xl-desktop) {
    left: percentage((@columns / @grid-columns));
  }
}
.make-xl-column-pull(@columns) {
  @media (min-width: @screen-xl-desktop) {
    right: percentage((@columns / @grid-columns));
  }
}

// Generate the large columns
.make-xxl-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: @screen-xxl-desktop) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}

// Generate the large column offsets
.make-xxl-column-offset(@columns) {
  @media (min-width: @screen-xxl-desktop) {
    margin-left: percentage((@columns / @grid-columns));
  }
}
.make-xxl-column-push(@columns) {
  @media (min-width: @screen-xxl-desktop) {
    left: percentage((@columns / @grid-columns));
  }
}
.make-xxl-column-pull(@columns) {
  @media (min-width: @screen-xxl-desktop) {
    right: percentage((@columns / @grid-columns));
  }
}
