.redbg
{
	background-color: @theme_red_color;
}

.greenbg
{
	background-color: @theme_green_color;
}

.amberbg
{
	background-color: @theme_amber_color;
}

.red
{
	color: @theme_red_color;
}

.green
{
	color: @theme_green_color;
}

.amber
{
	color: @theme_amber_color;
}

*{
    outline:none;
}

@media (min-width: @screen-tablet) 
{ 
	.eqh
	{ 
		margin-bottom: -99999px !important;
		padding-bottom: 99999px !important;
	}

	.eqh-wrap
	{
		overflow: hidden !important;
	}
}

@media (min-width: 1600px)
{
	.container 
	{
		width: 1560px;
	}
}

@media (min-width: 1920px)
{
	.container 
	{
		width: 1880px;
	}
}


.fullwidth 
{
	margin-left: auto;
	margin-right: auto;
	@media(min-width: @screen-tablet) 
	{
		padding-left: @grid-gutter-width / 2;
		padding-right: @grid-gutter-width / 2;
	}
}

.centered {
    display: table;
    margin: 0 auto;
	text-align: center;
}

.vcentered {
	display: table-cell;
	vertical-align: middle;
}

.view 
{
  .make-row();
  margin-left: auto;
  margin-right: auto;
  .sidebar 
  {
    .make-xs-column(12);
    @media(min-width: @screen-tablet) {.make-sm-column(4;0);}
    @media(min-width: @screen-desktop) {.make-md-column(3;0);}
    @media(min-width: @screen-lg-desktop) {.make-lg-column(2;0);}	
    @media(min-width: @screen-xl-desktop) {.make-xl-column(2;0);}	
    @media(min-width: @screen-xxl-desktop) {.make-xxl-column(2;0);}	
  }
  .content 
  {
    .make-xs-column(12);
    @media(min-width: @screen-tablet) {.make-sm-column(8;0);}
    @media(min-width: @screen-desktop) {.make-md-column(9;0);}
    @media(min-width: @screen-lg-desktop) {.make-lg-column(10;0);}
    @media(min-width: @screen-xl-desktop) {.make-xl-column(10;0);}
    @media(min-width: @screen-xxl-desktop) {.make-xxl-column(10;0);}
  }
}

div.alert-login:empty {display: none;}

a.glyphicon
{
	color: @content-text-dark-color;
}

input[type="file"]
{
	visibility: hidden;
	width: 0;
	height: 0;
}

.inset
{
	padding: @grid-gutter-width (@grid-gutter-width / 2) @grid-gutter-width (@grid-gutter-width / 2);
}

.btn-form
{
	margin-top: @grid-gutter-width;
	margin-bottom: @grid-gutter-width;
	margin-left: @grid-gutter-width;
}

.file-preview
{
	border: solid 1px @gray-light;
	box-shadow: 0 0 10px @gray-light;
}

.validator, .shownotempty
{
	display: none;
}

.jcrop-holder
{
	margin-left: auto;
	margin-right: auto;
}

img.border
{
	border: solid 1px white;
}

.icon32
{
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	background-position: left top;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon24
{
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	background-position: left top;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon16
{
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-position: left top;
	background-repeat: no-repeat;
	display: inline-block;
}

.icon_comments
{
	background-image: url('../img/iqon__comments32.png');
}

.icon_watch
{
	background-image: url('../img/iqon_wathching32.png');
}

.icon_views
{
	background-image: url('../img/iqon_views32.png');
}

.current-img img
{
	opacity: 1 !important;
    border-color: #fff !important;
}

.collapsible-xs.in
{
	display: block !important;
}

.collapsible-xs.collapse
{
  @media(min-width: @screen-tablet) 
  {
	display: block !important;
  }		
}

.clearfix-xs
{
  clear: both;
  @media(min-width: @screen-tablet) 
  {
	clear: none;
  }	
}