.msgdivider
{
  color: #aaa;
  margin-top: 2em;
  margin-bottom: 2em;

  @media (min-width: @screen-tablet)
  {
    margin-left: 2em;
    margin-right: 2em;
  }
}

.msglist
{
  list-style: none;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.5);

  @media (min-width: @screen-tablet)
  {
    margin-left: 2em;
    margin-right: 2em;
  }

  li
  {
    border: 1px solid #ddd;
    border-top: none;
    position: relative;

    &.unread
    {
      font-weight: bold;
    }

    &.top
    {
      border-top: 1px solid #ddd;
    }
    &.end
    {
      border-top: none;
    }

    &:hover a.del
    {
      display: block;

      a.hdr div
      {
        background-color: #eee;
      }
    }
  }

  a
  {
    color: #000;
    text-decoration: none;

    &.del
    {
      position: absolute;
      right: 8px;
      top: 12px;
      display: none;

      span
      {
        font-size: 2em;
        width: 1.1em;
        height: 1.1em;
        line-height: 1.2em;
        padding: 0;
        color: #aaa;
      }

      &:hover span
      {
        color: #000;
      }
    }

    &.perm
    {
      display: block;
    }

    &.hdr div
    {
      padding: 0.8em;
      &.tophdr
      {
        display: inline;
        padding: 0;
      }
    }
  }

  img
  {
    float: left;
    @media (min-width: @screen-tablet)
    {
      float: none;
    }
  }

  span
  {
    padding: 0 0 0 10px;
    height: 1em;
    line-height: 1em;
    display: inline-block;
    overflow: hidden;
  }

  .date
  {
    color: #888;
    display: block;
    @media (min-width: @screen-tablet)
    {
      display: inline-block;
      width: 110px;
    }
  }

  .name
  {
    color: #88F;
    margin-top: 8px;
    @media (min-width: @screen-tablet)
    {
      margin-top: 0;
      width: 250px;
    }
  }

  .header
  {
    display: inline
  }

  .fulltext
  {
    margin: 1em 2em 1em 2em;
    font-size: 1.3em;
    display: none;
    ul
    {
      list-style-type: none;
      li
      {
        border: none;
        background-color: #f5f5f5;
        border-radius: 6px;
        padding: 5px;
        margin-top: 10px;

        h4
        {

        }

        p
        {
          color: #888;
          font-size: 1.4rem;
        }
      }
    }
  }

  .reply
  {
    color: #aaa;
    margin-right: 1em;
    span {
      display: inline;
      width: 1em;
      height: 1em;
      font-size: 1.5em;
      padding: 0;
      margin-top: 1em;
    }

    &:hover
    {
      color: #000;
    }
  }

  textarea
  {
    width: 100%;
    height: 120px;
    display: none;
    margin-top: 1em;
  }

  .send-reply
  {
    margin-top: 1em;
    display: none;
    float: right;
  }

  .header_label
  {
    float: right;
    line-height: 2em;
    height: 2em;
    padding-right: 10px;

    @media (min-width: @screen-desktop)
    {
      margin-right: 40px;
    }
  }
}