@import "variables.less";

html, body 
{
    margin: 0;
    padding: 0;
    height: 100%;
	overflow: hidden;
	background-color: #000;
}

@icon-font-path:          "../fonts/";
@icon-font-name:          "glyphicons-halflings-regular"; 
@import "bootstrap\glyphicons.less";

.glyphicon
{
	color: #fff;
	font-size: 24px;
	text-decoration: none;
}

#background 
{   
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-attachment: fixed;  
  background-color: #000;
}

#fmode 
{
  font-size: 24px;
}

.slide
{
	width: 100%;
	height: 100%;
}

.title1 
{
  position:absolute; 	  
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 120%;
  text-decoration: none;
  text-shadow: 1px 1px 2px #000000, 0 0 1em #cc0000;

	padding-top: 6px;
	padding-left: 6px;
//	border-radius: 4px;
//	background: #fff;
//    background-color: rgba(255, 255, 255, 0.2);

	@media (min-width: @screen-sm) 
	{ 
		padding-left: 40px;
	}
}


.centered {
    display: table;
    margin: 0 auto;
	text-align: center;
}



.pict-fullscreen-bottom 
{
background: -moz-linear-gradient(top, rgba(160,80,80,0) 0%, rgba(168,127,127,0.36) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,80,80,0)), color-stop(100%,rgba(168,127,127,0.36)));
background: -webkit-linear-gradient(top, rgba(160,80,80,0) 0%,rgba(168,127,127,0.36) 100%);
background: -o-linear-gradient(top, rgba(160,80,80,0) 0%,rgba(168,127,127,0.36) 100%);
background: -ms-linear-gradient(top, rgba(160,80,80,0) 0%,rgba(168,127,127,0.36) 100%);
background: linear-gradient(to bottom, rgba(160,80,80,0) 0%,rgba(168,127,127,0.36) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a05050', endColorstr='#5ca87f7f',GradientType=0 );

	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size:18px;
	color: white;
    text-shadow: 1px 1px 2px #000000, 0 0 1em #cc0000;
	.ssshow-contollers 
	{
		padding: 0 20px 0 20px;
		display: inline-block;
		p
		{
			display: none;
			margin-top: 0;
			em
			{
				display: none;
			}
		}
	} 
       
	a 
	{
		margin: 0 15px 15px 15px;
	}      

	@media (min-width: @screen-sm) 
	{ 
		.ssshow-contollers 
		{
			p
			{
				display: block;
			}			
		}
	}

	@media (min-width: @screen-lg) 
	{ 
		.ssshow-contollers 
		{
			p
			{
				em
				{
					display: inline;
				}
			}			
		}
	}
}

.ssshow-contollers.fclose
{
	position: fixed; 
	right: 0px; 
	bottom: initial;
	top: 15px;
}

.ssshow-contollers.fmode
{
	text-align: center; 
	padding-right: 15px;
	position: fixed; 
	right: 0px; 
	bottom: 15px;
	top: initial;
}

.ssshow-contollers.fedit
{
	text-align: center; 
	padding-left: 15px;
	padding-bottom: 18px;
	position: fixed; 
	left: 0px; 
	bottom: 0;
	top: initial;
}

