.sidebar
{
	background-color: @view-background-color;
	color: @view-text-color;
}

.sidebar-area
{
	background-color: @view-background-color;
	width: 100%;	
	padding-right: @grid-gutter-width/2;
}

.loginForm
{
	margin-bottom: @grid-gutter-width;
	padding-left: @grid-gutter-width/2;
}


.alert-login
{
  margin-left: @grid-gutter-width / 2;
}

.userblock
{
	color: @view-link-color;
	margin-bottom: 8px;
	img
	{
		border: solid 1px white;
		margin-left: 10px;
		margin-right: 10px;
		float: left;
	}
	.name
	{
		color: @view-text-color;
		height: 42px;
		overflow: hidden;
		font-size: 16px;
		line-height: 19px;
	}
	a
	{
		font-size: @small-font;
	}
} 

.mainmenu
{
	margin-left: -6px;	
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height:100%;
	text-shadow: 1px 1px 2px black, 0 0 1em darken(red, 10%); 
	.nav-pills li a
	{
		color: white;
	}
}

.sideblock
{
	.nav-pills
	{
		li
		{
			border-bottom: 1px solid @view-text-color;
			a
			{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	padding-left: @grid-gutter-width / 2;
	padding-bottom: @grid-gutter-width / 2;
	.icon
	{
		width: 30px;
		height: 30px;
		margin-left: 8px;
		margin-top: -4px;
		background-position: left top;
		background-repeat: no-repeat;
		float: left;
	} 
	img
	{
		border: solid 1px white;
		margin-right: 10px;
		float: left;
	} 
	.title
	{
		float: left;
	}
	.title, .num
	{
		text-transform: uppercase; 
		font-size: 16px;
		font-weight: bold;
		color: @view-text-bright-color;
	}
	.header
	{
		height: 30px;
		margin-left: -@grid-gutter-width - (@grid-gutter-width / 2);
		padding: 4px (@grid-gutter-width / 2) 4px (@grid-gutter-width / 2);
	}
	.more
	{
		font-size: @small-font;
		padding-top: 6px;		
		text-align: center;
		a
		{
			color: @view-text-color;
		}
	}
}

.messages_block
{
	.icon
	{
		background-image: url('../img/icon_messages.png');
	}
	.header,.badge
	{
		background-color: @theme_red_color;
	}
} 

.auctions_block
{
	.icon
	{
		background-image: url('../img/icon_collections.png');
	}
	.header
	{
		background-color: @theme_amber_color;
	}
} 

.collections_block
{
	.icon
	{
		background-image: url('../img/icon_arts.png');
	}
	.header
	{
		background-color: @theme_green_color;
	}
} 

.arts_block
{
	.icon
	{
		background-image: url('../img/icon_messages.png');
	}
	.header
	{
		background-color: @theme_red_color;
	}
} 
