@import "bootstrap\variables.less";
@import "bootstrap\mixins.less";

@screen-xl-desktop:					1600px;
@screen-xxl-desktop:				1920px;

@theme_red_color:					#b1291b;
@theme_amber_color:					#ba7704;
@theme_green_color:					#536b37;

@form_menu_color:					#464a55;
@form_color_1:						#f2dab4;
@form_color_2:						#868da0;

@body-gradient-start:				#ff9bb7; //#a6a6a6;
@body-gradient-mid:					#e6da92; //#a6a6a6;
@body-gradient-end:					#73c2eb; //#a6a6a6;

@view-background-color:				#664840;
@view-link-color:					#d38b01;
@view-link-hover-color:				lighten(@view-link-color, 15%);
@view-link-visited-color:			@view-link-color;
@view-text-color:					#bcc1df;
@view-text-bright-color:			#fff;

@content-background-color:			#fff;
@content-link-color:				#d38b01;
@content-link-hover-color:			darken(@view-link-color, 15%);
@content-link-visited-color:		@content-link-color;
@content-text-color:				#464a55;
@content-text-dark-color:			darken(@content-text-color, 15%);

@footer-background-color:			#464a55;

@small-font:						12px;

@focused-fulscreen-z:				1100;
@focused-fulscreen-close-z:			1200;